<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>qamiKa</title>
    {% block styles %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=El+Messiri|IBM+Plex+Sans|Prompt&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Arimo|Farro|Livvic&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.9/css/mdb.min.css" rel="stylesheet">

    <link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}">
    <style>
        .transparent {
            background: transparent;
            border: none;
            border-bottom: 2px solid #fff;
        }
       
    
    </style>
    {% endblock %}
</head>
<body style="background-image: url(http://getwallpapers.com/wallpaper/small-retina/e/1/1/478568.jpg);background-size: cover;background-repeat: no-repeat;">
    {% block navbar %}
    {% include "navbar.html" %}
    {% endblock %}

    {% block content %}
    
    {% endblock%}


    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.9/js/mdb.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.4.1.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/scripts.js') }}"></script>

    <script>
        $(document).ready(function(){
            $(".card-body #showform").click(function(){
                $("#profileupdate").slideDown('2500');  
            });
            $("#submit").click(function(){
                $("#profileupdate").slideUp('1500'); 
            });

            // $(".userblog #comm").click(function(){
            //     // $("#hom").fadeOut('2500'); 
            //     $("comi").slideDown('2500');
            // });

        });

    </script>
</body>
</html>