{% extends 'base.html' %}
{% block content %}

<div class="container">

    <div class="row">
        <div class="col-md-12 text-center text-white"> <h1>WELCOME TO QAMIKA</h1> </div>
    </div>

    <div class="row">
        <div class="col-md-4">
    <div class="media-body">
    							<div class="choice_text" style="background-color: rgba(72, 75, 78, 0.707);padding: 2%;border-radius: 0.2rem;" >
    								<div class="date">
                                        
    									<p><a class="" href="#">Post author name</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    									<small class="text-right text-white"><i class="fa fa-calendar fa-1x" aria-hidden="true"></i> January 22, 2020</small></p>
    									<p><a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> Views post view and comments comments</a></p>
    								</div>
                                    <a href="/">
                                        <div class="text-center" >
    									<h1>Post Title</h1>
    								</a>
    								<p class="text-white" >Truncated post body (200 True)</p>
    							</div></div>
    						</div>
    					</div></div></div>
    					
    			








{% endblock  %}
