<div class="media-body">
              <div class="choice_text">
                <div class="date">
                  <a class="" href="#">{{post.author.name}}</a>
                  <a href="#"><i class="fa fa-calendar" aria-hidden="true"></i>January 22, 2020</a>
                  <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> Views
                    {{post.views }} | {{post.comments}} comments</a>
                </div>
                <a href="{{url_for('news', slug=post.slug)}}">
                  <h1>>{{post.title}}</h1>
                </a>
                <p>{{post.body |truncate(200, True) }}</p>
              </div>
            </div>
