<div class="media-body">
              <div class="choice_text">
                <div class="date">
                  <a class="" href="#">{{post.author.name}}</a>
                  <a href="#"><i class="fa fa-calendar" aria-hidden="true"></i>January 22, 2020</a>
                  <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> Views
                    {{post.views }} | {{post.comments}} comments</a>
                </div>
                <a href="{{url_for('news', slug=post.slug)}}">
                  <h1>>{{post.title}}</h1>
                </a>
                <p>{{post.body |truncate(200, True) }}</p>
              </div>
            </div>

                			<div class="col-lg-4">
                				<div class="right_sidebar">
                					<aside class="r_widgets news_widgets">
                						<div class="main_title2">
                							<h2>qamika jokes</h2>
            							</div>
            							{% for post in posts [2:5] %}
                						<div class="choice_item">

                							<img class="img-fluid" src="{{url_for('static',filename='images/' + post.image)}}" style="width:100px;">
                							<div class="choice_text">
                								<div class="date">
                									<a href="#"></a>
                									<a href="#"><i class="fa fa-calendar" aria-hidden="true"></i>January 22, 2020</a>
                									<a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i>05</a>
                								</div>
                								<a href="news-details.html">
                									<h4>{{post.title}}</h4>
                								</a>
                								<p> {{ post.body|truncate(50, True)}} </p>
            								</div>

            							</div>
            							{% endfor %}

                					</aside>

                					<aside class="r_widgets social_widgets">
                						<div class="main_title2">
                							<h2>Social Networks</h2>
                						</div>
                						<ul class="list">
                							<li><a href="#"><i class="fa fa-facebook"></i> 983Likes <span>Like our page</span></a>
                							</li>
                							<li><a href="#"><i class="fa fa-twitter"></i> 983Followers <span>Follow Us</span></a>
                							</li>
                							<li><a href="#"><i class="fa fa-youtube-play"></i> 9835Subscriber
                									<span>Subscribe</span></a></li>
                							<li><a href="#"><i class="fa fa-vimeo"></i> 59874Subscriber <span>Subscribe</span></a>
                							</li>
                							<li><a href="#"><i class="fa fa-pinterest"></i> 36958Followers <span>Follow
                										Us</span></a></li>
                							<li><a href="#"><i class="fa fa-rss"></i>RSS Subscribe <span>Subscribe</span></a></li>
                						</ul>
                					</aside>
                				</div>
                			</div>
                		</div>
                	</div>
                </section>
